/*---- Main toolbar ---*/
.findbar-button, .toolbarbutton-1:not([type="menu-button"]), .toolbarbutton-1 > .toolbarbutton-menubutton-button, .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	border: 1px solid transparent;
	border-radius: var(--toolbarbutton-border-radius);
	transition-property: background-color, border-color;
	transition-duration: unset;
	background-clip: padding-box;
}

:root[lwt-tree] #msgHeaderView, :root[lwt-tree] #attachmentView, :root[lwt-tree] #attachmentList {
	background-color: #EBEBEB !important;
  	color: rgb(92, 97, 108) !important;
}
toolbarbutton:-moz-lwtheme:not(:hover):not([checked="true"]):not([open="true"]):not([disabled="true"]) {
	transition-duration: unset;
}
.toolbarbutton-1.msgHeaderView-button:not([type="menu-button"]), .toolbarbutton-1.msgHeaderView-button > .toolbarbutton-menubutton-button, .toolbarbutton-1.msgHeaderView-button > .toolbarbutton-menubutton-dropmarker {
	border-color: rgba(0, 0, 0, .25);
  	transition-duration: unset;
}
.toolbarbutton-1.msgHeaderView-button:not([disabled="true"]):-moz-any(:hover, [open]) > .toolbarbutton-menubutton-button, .toolbarbutton-1.msgHeaderView-button:not([disabled="true"]):-moz-any(:hover, [open]) > .toolbarbutton-menubutton-dropmarker, .toolbarbutton-1.msgHeaderView-button:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open]):not(:active):hover, .toolbarbutton-1.msgHeaderView-button:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) {
	background: #5294E2;
	border-color: #5294E2;
  	color: #FFFFFF !important;
  	transition-duration: unset;
}
.address-pill {
  	background-color: rgba(0,0,0,0.1);
  	color: #18191a;
}

/*---- Compose Window ----*/
:root[lwt-tree] #headers-box{
 	background-color: #EBEBEB !important;
  	color: #18191a !important;
}
#FormatToolbar menulist:not([disabled="true"]):not([open="true"]):hover {
	background: var(--toolbarbutton-hover-background);
	color: #FFFFFF;
}
.toolbar[brighttext], .contentTabToolbox[brighttext], #header-view-toolbar[brighttext], #ab-toolbox > toolbar[brighttext], .mail-toolbox > toolbar[brighttext], #event-toolbox > toolbar[brighttext], #compose-toolbox > toolbar[brighttext], #headers-box > toolbar[brighttext], #FormatToolbox > toolbar[brighttext], :root[lwt-tree-brighttext] .otr-container, :root[lwt-tree-brighttext] .crypto-button, :root[lwt-tree-brighttext] .calendar-list-create, :root[lwt-tree-brighttext] #searchTerms {
	--toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
	--toolbarbutton-hover-bordercolor: rgba(0, 0, 0, .25);
	--toolbarbutton-header-bordercolor: rgba(0, 0, 0, .25);
	--toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .4));
	--toolbarbutton-active-bordercolor: rgba(0, 0, 0, .25);
	--toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .4)) inset;
	--toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .5));
}
.address-container {
	flex: 1;
	margin-inline-start: 4px;
	margin-inline-end: 0;
	border: solid 1px rgba(0, 0, 0, .25);
	border-radius: var(--toolbarbutton-border-radius);
	background-color: -moz-field;
	transition: border .2s, box-shadow .2s;
	cursor: text;
}
#msgSubject {
	-moz-appearance: none;
	margin-top: 0;
	margin-inline: 4px 8px;
	background-color: -moz-field;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: var(--toolbarbutton-border-radius);
	padding-block: 0;
	padding-inline: 4px 2px;
	transition: border .2s, box-shadow .2s;
}
:root[lwt-tree] #msgSubject, :root[lwt-tree] .address-container {
	background-color: var(--lwt-toolbar-field-background-color);
	color: rgba(92, 97, 108, 1);
}
menulist {
	-moz-appearance: none;
	min-height: 24px;
	color: inherit;
	margin: 1px 4px;
	padding: 1px 6px;
	border: 1px solid;
	border-radius: var(--toolbarbutton-border-radius);
	border-color: rgba(0, 0, 0, .25);
	box-shadow: var(--toolbarbutton-hover-boxshadow);
	transition: background-color 150ms;
}
toolbarbutton.formatting-button:not([disabled="true"]):hover {
	border-color: #5294E2;
}
.formatting-button:active {
	color: #FFFFFF;
}
toolbarbutton:hover {
	color: #FFFFFF;
}
.findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover, .toolbarbutton-1:not([disabled="true"]):-moz-any(:hover, [open="true"]) > .toolbarbutton-menubutton-button, .toolbarbutton-1:not([disabled="true"]):hover > .toolbarbutton-menubutton-dropmarker, .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	background: var(--toolbarbutton-hover-background);
	border-color: var(--toolbarbutton-hover-bordercolor);
	box-shadow: var(--toolbarbutton-hover-boxshadow);
	fill: #FFFFFF;
}

/*---- Quick Filter bar ----*/
:root[lwt-tree] #quick-filter-bar:-moz-lwtheme {
	background-color: #EBEBEB;
	color: rgb(92, 97, 108);
}
#quick-filter-bar toolbarbutton {
	border: 1px solid rgb(0, 0, 0, 0.25);
	transition: unset;
	color: rgb(92, 97, 108);
}
#quick-filter-bar toolbarbutton:hover {
	background-color: #5294E2;
	border: 1px solid #5294E2;
	color: #FFFFFF !important;
	transition: unset;
}
.findbar-button:not([disabled="true"]):-moz-any([checked="true"], :hover:active), .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active, .toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]), .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):-moz-any([open="true"], [checked="true"], :hover:active) {
	background: #5294E2;
	box-shadow: var(--toolbarbutton-active-boxshadow);;
	color: #FFFFFF !important;
}

/*---- Mail folder tree ----*/
/*
#folderTree {
	background: #474D5C !important;
}
#folderTree > treechildren::-moz-tree-image {
	fill: #FFFFFF;
	opacity: 1;
  }
#folderTree > treechildren::-moz-tree-cell-text {
	padding-inline-start: 3px;
	color: #FFFFFF !important;
}
*/
slider[orient="vertical"] {
	background: #383C4A;
}
thumb[orient="vertical"] {
	-moz-appearance: scrollbarthumb-vertical;
	min-height: 8px;
	background: rgba(255, 255, 255, 0.25);
}
thumb[orient="vertical"]:hover, thumb[orient="vertical"]:active {
	background-color: #5294E2;
}

/*---- Mail thread tree ----*/
#threadPaneBox treechildren {
	background: #F5F5F5 !important;
}

/*---- Calendar ----*/
.minimonth-day {
	background: white;
}
.calendar-month-day-box-current-month {
	background-color: white;
}
.minimonth-nav-btns:active, .minimonth-nav-btns:focus, .minimonth-nav-btns:hover {
	background-color: #5294E2;
}
.findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover, .toolbarbutton-1:not([disabled="true"]):-moz-any(:hover, [open="true"]) > .toolbarbutton-menubutton-button, .toolbarbutton-1:not([disabled="true"]):hover > .toolbarbutton-menubutton-dropmarker, .toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
	background: #5294E2;
	border-color: var(--toolbarbutton-hover-bordercolor);
	box-shadow: var(--toolbarbutton-hover-boxshadow);
	fill: #FFFFFF;
}
.calendar-month-day-box-current-month[selected="true"] {
	background-color: rgba(82, 148, 226, 0.25);
}
.calendar-month-day-box-date-label[selected="true"] {
	color: var(--viewMonthDayBoxSelectedColor);
	background-color: rgba(82, 148, 226, 0.25);
}
.minimonth-day[selected="true"] {
  background-color: rgba(82, 148, 226, 0.25);
  color: var(--mmDaySelectedColor);
  border: 1px solid var(--mmDaySelectedBorderColor);
}
.minimonth-day[selected="true"][today="true"] {
  background-color: rgba(82, 148, 226, 0.25);
  border: 1px solid var(--mmDaySelectedTodayBorderColor);
}
.calendar-month-day-box-day-off .calendar-month-day-box-date-label {
    background-color: rgba(82, 148, 226, 0.25);
}
calendar-event-column {
    background-color: white;
}
calendar-header-container[selected="true"],
.calendar-event-column-linebox[selected="true"] {
    background-color: rgba(82, 148, 226, 0.25);
}
.calendar-event-column-linebox[off-time="true"][selected="true"] {
    background-color: rgba(82, 148, 226, 0.75);
}

/*---- Calendar Reminder window ----*/
#calendar-alarm-dialog[lwt-tree] {
	background-color: #EBEBEB;
	color: rgb(92, 97, 108);
}
:root[lwt-tree] richlistbox {
	-moz-appearance: none;
	background-color: #EBEBEB;
	color: rgb(92, 97, 108);
	border: 1px solid var(--field-border-color);
	scrollbar-color: rgba(204,204,204,.5) rgba(230,230,235,.5);
}
richlistbox > richlistitem[selected="true"] {
	background-color: white;
	color: inherit;
}
button, menulist, html|input[type="color"] {
	-moz-appearance: none;
	color: inherit !important;
	border: 1px solid rgba(0, 0, 0, .25) !important;
	border-radius: var(--button-border-radius);
	background-color: #EBEBEB !important;
	padding: 0 8px;
	text-decoration: none;
	margin: 4px;
	font-size: 1em;
}
button:not([disabled="true"]):hover, menulist:not([disabled="true"]):not([open="true"]):hover, menulist[open="true"]:not([disabled="true"]), html|input[type="color"]:not([disabled="true"]):hover {
	background-color: #5294E2;
	color: #FFFFFF !important;
	border-color: #5294E2;
}
button[open], button[open]:hover, button:not([disabled="true"]):hover:active, html|input[type="color"]:not([disabled="true"]):hover:active {
	background-color: #5294E2;
}
richlistitem button, richlistitem menulist {
	background-color: #EBEBEB;
	background-image: none;
	color: rgb(92, 97, 108) !important;
}
richlistitem button:not([disabled="true"]):hover, richlistitem menulist:not([disabled="true"]):hover, richlistitem menulist[open="true"]:not([disabled="true"]) {
	background-color: #5294E2;
	background-image: none;
}
richlistitem button[open], richlistitem button[open]:hover, richlistitem button:not([disabled="true"]):hover:active {
	background-color: #5294E2;
	background-image: none;
}
:root[lwt-tree] #alarm-snooze-all-popup, :root[lwt-tree] menupopup[is="calendar-snooze-popup"] {
	-moz-appearance: none;
	border: 1px solid rgb(0, 0, 0, 0.25);
	border-radius: var(--button-border-radius);
	background-color: #FFFFFF;
	color: rgb(92, 97, 108);
}
button menupopup menu, button menupopup menuitem, menulist menupopup menu, menulist menupopup menuitem {
	-moz-appearance: none;
	color: rgb(92, 97, 108);
}